[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.2"
flask-sqlalchemy = "2.5.1"
sqlalchemy-serializer = "*"
faker = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
pytest = "*"

[dev-packages]

[requires]
python_full_version = "3.10.12"
